
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/bin/
/.php_cs.cache
/.web-server-pid
/tests/config/parameters.yml
/public/
/nbproject/private/
/src/.php_cs.cache
/.gh-pages/
/.idea/
/.phpunit.result.cache
/.php-cs-fixer.cache
